REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.
REQ-ID:SA1
Description:The product shall issue a refund for the ticket purchased
Type:Functional Requirement
Rationale:Customer needs to be reimbursed for tickets not being used
Originator:Customer
Comments: [Simon Anderson] Adding This functional requirement.
REQ-ID:SA2
Description:The product shall ask for the reason for return
Type:Functional Requirement
Rationale:Managers should be able to find out why they do not need the tickets anymore in case it is for a reason that can be fixed by them.
Originator:Customer
Comments: [Simon Anderson] Adding This functional requirement.
REQ-ID:JS1
Description: The product shall make returned tickets available for re-allocation
Type: Functional Requirement
Rationale: To be able to reassign returned tickets to a new customer
Originator: Polly
Comments:
REQ-ID:JS2
Description: The product shall remove returned tickets from the customer’s account
Type: Functional Requirement
Rationale: To be able to show the customer the tickets they currently have allocated to them
Originator: Polly
Comments:
REQ-ID:MB1	
Description:The product shall issue a confirmation email.
Type:Functional Requirement
Rationale: To provide customer with confirmation of ticket return.
Originator:Customer
Comments: [Matt Burger] Added functional requirement.
REQ-ID:MB2
Description:The product shall issue a confirmation return ticket reference.
Type:Functional Requirement
Rationale: If there is no payment refunded, customer refers to reference.
Originator:Customer
Comments: [Matt Burger] Added functional requirement.
REQ-ID: GC1
Description: The product shall create a waiting list of customers for event when tickets sold out.
Type: Functional Requirement
Rationale: Customer who can not find a ticket for an event can decide to be added to a waiting list
Originator: Thomas
Comments: [Goneta Cisse] Added this functional requirement.
REQ-ID: GC2
Description: The product shall allocate returned tickets to customer on a waiting list.
Type: Functional Requirement
Rationale: Returned tickets must be allocated fairly on the basis of first arrived first served on the top of the waiting list but also give the option to decide manually which customer to allocate ticket.
Originator: Polly
Comments: [Goneta Cisse] Added this functional requirement.
REQ-ID: MS1
Description:  Customers can request to return tickets they have purchased
Type: Functional Requirement
Rationale: Customers need to be provided the facility to return tickets they have purchased
Originator: Thomas
Comments: [Mark Shepherd] Added this functional requirement.
REQ-ID: MS2
Description: Returned tickets to be reallocated or made publicly available in intervals of 24 hours
Type: Functional Requirement
Rationale: Analysis needs to be performed daily on returned tickets to detect patterns and prevent fraud 
Originator: Polly
Comments: [Mark Shepherd] Added this functional requirement.
REQ-ID: DW1
Description: The product shall use confirmation dialog to restate customer’s intent to return ticket.
Type: Functional Requirement
Rationale: Give user a second chance and prevent user error.
Originator: Customer
Comments: [Daniel Wright] Added functional requirement.
REQ-ID: DW2
Description: The product shall update real-time ticket inventory with returned tickets.
Type: Functional Requirement
Rationale: Permits reallocation of tickets.
Originator: Polly
Comments: [Daniel Wright] Added functional requirement.
